.nav-wrapper{
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.161);
    background: #fff;
}
.nav-wrapper nav{
    padding: 10px 0;
}

.content{
    padding: 30px 0;
}

li.dropdown img{
    border-radius: 100%;
    margin-right: 5px;
}

.profile-kiri img.profile{
    margin: 0 auto;
    border-radius: 100%;
}

.kiri-detail{
    margin-top: 10px;
}
.kiri-detail h2{
    margin-bottom: 0;
}

.kiri-detail p.sub-title{
    font-size: 20px;
    opacity: .8;
}

.kiri-detail p.bio{
    font-size: 16px;
}

.kiri-detail button{
    width: 100%;
}

.kiri-detail .user-order{
    padding: 20px 0;
    font-size: 15px;
}

.kiri-detail .user-detail{
    padding-bottom: 10px;
}

.kiri-detail .user-detail p{
    margin-bottom: 5px;
}

.kiri-detail .user-detail p i{
    margin-right: 2px;
}

.kiri-detail .achievements{
    border-top: 1px solid #b7b4b4;
    padding: 20px 0;
}

.kiri-detail .achievements span{
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 10px;
}

.about{
    font-family: 'Poppins', sans-serif;
}

.about .content{
    padding: 50px 0;
}

.about-col{
    text-align: center;
}

.about-col h1, h2.titlee, .our-story h1{
    font-weight: 700;
    line-height: 1;
    font-size: 64px;
}

h2.titlee, .our-story h1{
    font-size: 48px;
}

.our-story p{
    margin-top: 40px;
    font-size: 18px;
    line-height: 1.5;
}

.about-col p{
    color: #908e8e;
    font-size: 22px;
    padding-top: 10px;
    font-weight: 500;
}

img.about-img{
    width: 100%;
}

.gutter{
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.161);
}

.bg-biru{
    background: rgba(140,176,255,60%);
    margin: 50px 0;
}

.power-accordion {
    padding-top: 10px;
  }
  
  @media screen and (max-width: 575px){
    .power-accordion {
      padding-right: 0
    }
  }
  
  .power-accordion .title {
    font-weight: 500;
    line-height: 54px;
    margin-bottom: 15px;
  }
  
  .power-accordion .power-card-header {
    padding: 0px;
    background-color: transparent;
  }
  
  .power-accordion .power-card-header .power-accordion-title {
    padding-right: 20px;
    display: inline-block;
  }
  
  .power-accordion .power-card-header > .power-btn-link {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #222222;
    font-weight: 600;
    padding: 10px 0px;
    border-bottom: 1px solid #1f2429;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  
  .power-accordion .power-card-header > .power-btn-link .power_accordion_icon_group {
    position: absolute;
    right: 0;
  }
  
  .power-accordion .power-card-header > .power-btn-link[aria-expanded=true] {
    border-bottom: 0px solid #dedede;
  }
  
  .power-accordion .power-card-header > .power-btn-link:hover {
    text-decoration: none;
  }
  
  .power-accordion .power-card-header > .power-btn-link:focus {
    text-decoration: none;
  }
  
  .power-accordion .power-card-header > .power-btn-link > .icon-left {
    padding-right: 20px;
    float: left;
  }
  
  .power-accordion .power-card-header > .power-btn-link[aria-expanded=true] i {
    color: #232b33;
  }
  
  .power-accordion .power-card-header > .power-btn-link[aria-expanded=false] i {
    color: #222222;
  }
  
  .power-accordion .power-card-header > .power-btn-link[aria-expanded=true] .icon-closed {
    display: block;
  }
  
  .power-accordion .power-card-header > .power-btn-link[aria-expanded=true] .icon-open {
    display: none;
  }
  
  .power-accordion .power-card-header > .power-btn-link[aria-expanded=false] .icon-closed {
    display: none;
  }
  
  .power-accordion .power-card-header > .power-btn-link[aria-expanded=false] .icon-open {
    display: block;
  }
  
  .power-accordion .power-card-header > .power-btn-link .icon-right {
    padding-left: 15px;
  }
  
  .power-accordion .power-card-header > .power-btn-link .icon-left {
    padding-right: 15px;
  }
  
  .power-accordion .power-card-header > .power-btn-link[aria-expanded="true"] .power-accordion-title {
    color: #232b33;
  }
  
  .power-accordion .power-card-header > .power-btn-link[aria-expanded="false"] .power-accordion-title {
    color: #222222;
  }
  
  .power-accordion .power-card-body {
    padding: 15px 0px;
  }
  
  .power-accordion .ext_content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 30px;
  }
  
  .power-accordion .ext_content .inline {
    width: 100%;
  }
  
  .power-accordion .ext_content .inline h6 {
    font-size: 14px;
    margin-bottom: 15px;
  }
  
  .power-accordion .ext_content .inline h6 img {
    margin-right: 10px;
  }
  
  @media screen and (max-width: 991px) {
    .power-accordion .power-card:last-child .power-card-body {
      padding-bottom: 0px;
    }
    .power-accordion .ext_content {
      display: block;
    }
    .power-accordion .ext_content .inline + .inline h6 + h6 {
      margin-bottom: 0px;
    }
  }

  .swiper-container {
    width: 100%;
    height: 100%;
    right: -35px;
    position: absolute!important;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .swiper-slide {
    width: 80%!important;
  }

  .gg-gaming{
      padding: 50px!important;
  }

  .slider-wrapper{
      position: relative
  }

.accordion-wrapper{
    padding-left: 35px;
}

.form-check-input{
    margin-left: 0;
}

.table-sm td, .table-sm th{
    padding: 4px 20px;
}

.btn-message{
    border: 1px solid rgba(0,0,0,.125);
}

.btn-message:hover{
    background: rgba(0,0,0,.03);
}

.icon-first.icon-one{
    background: #17a2b8;
}

.icon-first.icon-two{
    background: #dc3545;
}

.icon-first.icon-three{
    background: #28a745;
}

.icon-first.icon-four{
    background: #ffc107;
}

.icon-first{
    padding: 0 20px;
    margin: 7px;
    border-radius: 5px;
}

.icon-first i{
    font-size: 32px;
    color: #fff;
}

.kanan-icon{
    min-height: 80px;
    margin-left: 5px;
}

.kanan-icon p{
    margin: 0;
}

.kanan-icon p:last-child{
    font-weight: 700;
}

.shadow{
    border: 1px solid rgb(117 117 117 / 40%);
    border-radius: 5px;
}

.paginationnav{
    float: left;
}

.profile-tab div{
    padding: 20px 0;
}

.profile-tab div h3{
    font-size: 24px;
    margin-bottom: 15px;
}

@media screen and (max-width: 767px){
    .towewew{
        padding-top: 20px;
    }
}